.kbd {
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  transition: background-color 0.15s ease;
}

.kbd:hover {
  background-color: var(--mantine-color-default-hover);
}

.kbd:active {
  background-color: var(--mantine-color-body) !important;
}
