.kbd {
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  transition: background-color 0.15s ease;

  &:hover {
    background-color: var(--mantine-color-default-hover);
  }

  &:active, &[data-active="true"] {
    background-color: var(--mantine-color-body);
  }
}