.kbd {
  font-size: 2rem !important;
  padding: 0rem 0.5rem !important;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  transition: background-color 0.15s ease;

  @media screen and (max-width: 768px) {
    font-size: 1.75rem !important;
    padding: 0rem 0.5rem !important;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      background-color: var(--mantine-color-default-hover);
    }
  }

  &:active,
  &[data-active="true"] {
    background-color: var(--mantine-color-body);
  }
}