$reveal-anim-duration-ms: 500;
$reveal-anim-duration: #{$reveal-anim-duration-ms}ms;
$reveal-anim-timing-function: ease-in-out;

@keyframes reveal-anim {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@for $i from 1 through 6 {
    .lettersContainer .reveal:nth-child(#{$i}n) {
        animation-delay: #{($i - 1) * $reveal-anim-duration-ms}ms;
        transition-delay: #{($i - 0.5) * $reveal-anim-duration-ms}ms;
    }
}

.letter {
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    border: 1px solid var(--mantine-color-default-border);
    text-transform: uppercase;
    transition-property: background-color, border-color, color;
    transition-duration: 150ms;

    @media screen and (max-width: 768px) {
        font-size: 2rem;
        width: 3.5rem;
        height: 3.5rem;
    }

    @media screen and (max-width: 400px) {
        font-size: 1.5rem;
        width: 2.75rem;
        height: 2.75rem;
    }

    &[data-letter-state="perfect"] {
        background-color: var(--color-letter-state-perfect);
        color: var(--mantine-primary-color-contrast);
    }

    &[data-letter-state="correct"] {
        background-color: var(--color-letter-state-correct);
        color: var(--mantine-primary-color-contrast);
    }

    &[data-letter-state="incorrect"] {
        background-color: var(--color-letter-state-incorrect);
        color: var(--mantine-primary-color-contrast);
    }
}

.reveal {
    animation: reveal-anim $reveal-anim-duration;
    animation-iteration-count: 1;
    animation-timing-function: $reveal-anim-timing-function;
}

.active {
    background-color: var(--mantine-color-default);
    cursor: pointer;

    &:hover {
        background-color: var(--mantine-color-default-hover);
    }

    &.guessedLetter {
        border-color: var(--color-letter-filled-border);
    }

    &.selected {
        background-color: var(--color-letter-selected) !important;
    }
}