body {
  overflow: hidden;
}

html[data-mantine-color-scheme="light"] {
  .mantine-ActionIcon-root {
    --ai-bg: var(--mantine-color-gray-0) !important;
    --ai-hover: var(--mantine-color-white) !important;
  }
}

#root {
  transition: background-color 350ms ease;
  height: 100dvh;
  touch-action: pan-x pan-y;
  padding: 0 0;
}

.mantine-NavLink-root[data-active] {
  border-left: 2px solid var(--mantine-primary-color-light-color);
  font-weight: 500;
  color: var(--mantine-color-default-color);
}
